#countdown{
	display:grid;
	grid-template-columns:auto auto auto auto;
	height:max-content;
	

}

#Days, #Hours, #Minutes, #Seconds{
	width:5rem;
	height:5rem;
	//background-color:black;
	border:1px solid black;
	font-size:5rem;
	//transition:all ease-out 0.3s;
	& div{
	
		animation:flip1 1s infinite;
	}

}


#spanWait{
	animation:flip1 0.9s infinite;
}


@keyframes flip1 {
	0%,80%{
		transform:rotatex(360deg);
	}
} 
	
